@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

:root{
    --first-color: #d6b590;
    --first-colo-alt: #caa383;
    --body-color: rgb(245, 245, 245);

    --text-color: #211f22;
    --text-color-light: rgb(175, 170, 170);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background: var(--body-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.button{
    padding: .75rem;
    font-weight: 600;
    color: var(--first-color);
    background-color: transparent;
    border-radius: 4rem;
    border: 1px solid #f4e8da;
    transition: .3s;
}

.button:hover{
    cursor: pointer;
    border: 1px solid #f3f0ed;
    color: var(--body-color);
    background-color: var(--first-color);  
}

/* ---------- HEADER ------------*/

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    justify-content: space-between;
}

.nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 3rem 2.5rem;
    background: rgb(255, 255, 255);
    transition: top .4s;
}

.list__nav {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__close:hover,
.nav__toggle:hover{
    cursor: pointer;
}

.nav__toggle,.nav__close{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 2.5rem;
    top: 2rem;
}

/* ------------------MAIN ---------------*/

/* Home section */

.section{
    padding-block: 2rem;
    margin-inline: 1.5rem;
}
  
.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.Titular{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.home__title > span{
    color: var(--first-color);
}

.Titular .random__button{
    width: 70%;
    display: inline-block;
    box-shadow: -1px 1px 3px 0px var(--first-color);
}



/* collage random */

.galery{
    margin-block: 3rem 1rem;
    width: 100%;
    height: 18rem;
   
}


.collage__random{
    display: flex;
    justify-content: center;
    width: max-content;
}

.cat__random{
    position: relative;
    width: 11rem;
    height: 17rem;
}

.cat__random img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.heart{
    position: absolute;
    width: 3rem;
    padding-block: .75rem;
    right: 1rem;
    bottom: -.75rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(247, 242, 242);
    background: var(--first-color);
    border-radius: 1rem;
    transition: .3s;
}

.heart:hover{
    color: var(--first-color);
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}



/*-------- favorites---------*/

.section__title{
    text-align: center;
    margin-block-end: 2.5rem;
    text-shadow: 1px 2px 4px var(--first-color);
}

.collage__favorites{
    display: grid;
    justify-content: center;
    padding-block-start: 1rem;
}


/*-------- Upload ----------*/

.upload{
    text-align: center;
}

.container__input {
    display: flex;
    background: #f0ebeb;
    border: 4px dashed var(--first-color);
    padding: 2rem 1rem;
    border-radius: 6px;
    width: 100%;
    height: 20rem;
    max-height: 25rem;
    margin: 0 auto;
    margin-bottom: 20px;
    color: var(--text-color-light);
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.uploadInput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.zone__prompt  label{
    color: var(--first-color);
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    align-items: center;
    column-gap: .5rem;
}

.zone__prompt:focus label,
.zone__prompt label:hover{
    color: #bb7878;
    cursor: pointer;
}

.dragover{
    border: 4px dashed #f0e0ce;;
}

.zone__thumb{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
}

.zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

.buttonForm{
    padding: .75rem 2rem;
    border: none;
    color: var(--body-color);
    background-color: var(--first-color);
}

.buttonForm:hover{
    background-color: var(--first-colo-alt);
    cursor: pointer;
}

/*--------------kittys-------------*/

.kittys{
    background: #4d4242;
    border-radius: .5rem;
}

.kittys__container{
    display: grid;
    row-gap: 5rem;
}

.kittys__data{
    text-align: center;
}

.kitty__title{
    color: var(--first-colo-alt);
    text-shadow: 1px 2px 4px var(--first-colo-alt);
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.kittys__description{
    margin-bottom: 4rem;
    font-weight: 500;
    color: var(--body-color);
}

.kittys__button{
    padding: 1rem 2rem;
    color: var(--body-color);
}

.kitty__image{
    width: 200px;
}

.kitty__image img{
    max-width: 100%;
    height: auto;
}


/*------------footer------------*/

.footer{
    margin-block-start: 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color-light);
}

.socialMedia{
    display: flex;
    margin-block-start: 1rem;
    justify-content: center;
    column-gap: .5rem;
    color: rgb(64 67 69);
}

.socialMedia img{
    filter: contrast(.5);
}

.socialMedia li:hover{
    cursor: pointer;
}

