@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap');

:root{
    --first-color: #d6b590;
    --first-colo-alt: #caa383;
    --body-color: rgb(245, 245, 245);

    --text-color: #211f22;
    --text-color-light: rgb(175, 170, 170);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style: none;
}

.button{
    padding: 1rem 2rem;
    font-weight: 600;
    color: var(--first-color);
    background-color: transparent;
    border-radius: 4rem;
    border: 1px solid #f4e8da;
    transition: .3s;
}

.button:hover{
    cursor: pointer;
    border: 1px solid #f3f0ed;
    color: var(--body-color);
    background-color: var(--first-color);  
}

/* ---------- HEADER ------------*/

.header{
    position: fixed;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    justify-content: space-between;
}

.nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 3rem 2.5rem;
    background: rgb(255, 255, 255);
    transition: top .4s;
}

.list__nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav__link{
    color: var(--text-color);
    font-weight: 600;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close:hover,
.nav__toggle:hover{
    cursor: pointer;
}

.nav__toggle,.nav__close{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 2.5rem;
    top: 2rem;
}

.show-menu{
    top: 0;
}


/* ------------------MAIN ---------------*/

/* Home section */

.section{
    padding: 2rem 1rem;
}
  
.container {
    max-width: 1024px;
}

.home{
    padding-block-start: 5rem;
}

.Titular{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__title > span{
    color: var(--first-color);
}

.Titular .random__button{
    width: 70%;
    padding-inline: .5rem;
    max-width: 200px;
    display: inline-block;
    box-shadow: -1px 1px 3px 0px var(--first-color);
}



/* collage random */

.galery{
    margin-block: 3rem 1rem;
    width: 100%;
    height: 18rem;
   
}


.collage__random{
    display: flex;
    justify-content: center;
    width: max-content;
}

.cat__random{
    position: relative;
    width: 14rem;
    height: 17rem;
}

.cat__random img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.heart{
    position: absolute;
    width: 3rem;
    padding-block: .75rem;
    right: 1rem;
    bottom: -.75rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(247, 242, 242);
    background: var(--first-color);
    border-radius: 1rem;
    transition: .3s;
}

.heart:hover{
    color: var(--first-color);
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}

.navigation__button{
    width: 2rem;
    height: 2rem;
    background-color: var(--first-color);
    border-radius: 50%;
}

.navigation__button::after{
    font-size: 1rem;
    font-weight: 800;
    color: var(--body-color);
}


/*-------- favorites---------*/

.favorites__container{
    justify-items: center;
}

.favorites{
    margin-block-end: 4rem;
}

.section__title{
    text-align: center;
    margin-block-end: 2.5rem;
    text-shadow: 1px 2px 4px var(--first-color);
}

.collage__favorites{
    display: grid;
    justify-content: center;
    padding-block-start: 1rem;
    gap: 1.5rem;
}

.dislike{
    color: var(--first-color);
    background:rgb(247, 242, 242);
}
.dislike:hover{
    color: rgb(247, 242, 242);
    background:var(--first-color);
}


/*-------- Upload ----------*/

.upload{
    text-align: center;
}

.container__input {
    position: relative;
    display: flex;
    background: #f0ebeb;
    border: 4px dashed var(--first-color);
    padding: 2rem 1rem;
    border-radius: 6px;
    width: 100%;
    height: 20rem;
    max-height: 25rem;
    margin: 0 auto;
    margin-bottom: 20px;
    color: var(--text-color-light);
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.uploadInput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.zone__prompt  label{
    color: var(--first-color);
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    align-items: center;
    column-gap: .5rem;
}

.zone__prompt:focus label,
.zone__prompt label:hover{
    color: #bb7878;
    cursor: pointer;
}

.dragover{
    border: 4px dashed #f0e0ce;;
}

.zone__thumb{
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
}

.zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

.buttonForm{
    width: 100%;
    border: none;
    color: var(--body-color);
    background-color: var(--first-color);
}

.buttonForm:hover{
    border: none;
    background-color: var(--first-colo-alt);
    cursor: pointer;
}

/*--------------kittys-------------*/

.kittys{
    margin-block-start: 5rem;
}

.kittys__container{
    display: grid;
    padding: 3rem 2rem;
    row-gap: 5rem;
    background: #4d4242;
    border-radius: .5rem;
}

.kittys__data{
    text-align: center;
}

.kitty__title{
    color: var(--first-colo-alt);
    text-shadow: 1px 2px 4px var(--first-colo-alt);
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.kittys__description{
    margin-bottom: 4rem;
    font-weight: 500;
    color: var(--body-color);
}

.kittys__button{
    color: var(--first-colo-alt);
    background-color: var(--body-color);
}

.kitty__image{
    width: 200px;
    justify-self: center;
}

.kitty__image img{
    max-width: 100%;
    height: auto;
}


/*------------footer------------*/

.footer{
    margin-block-start: 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color-light);
}

.socialMedia{
    display: flex;
    margin-block-start: 1rem;
    justify-content: center;
    column-gap: .5rem;
    color: rgb(64 67 69);
}

.socialMedia img{
    filter: contrast(.5);
}

.socialMedia li:hover{
    cursor: pointer;
    color: var(--first-colo-alt);
}

/*----------- Scroll bar -------------*/

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(24, 52%, 74%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(21, 15%, 26%);
}

::-webkit-scrollbar-thumb:hover{
    border-radius: .5rem;
    background-color: hsl(18, 12%, 29%);
}

/* Active link */

.active-link{
    color: var(--first-color);
}

/*--------------loading---------------*/

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: var(--text-color);
}

.loading::after{
    content: "";
    display: none;
}

/*---------------breakpoint-------------*/

/* Medium devices */

@media screen and (min-width: 570px) {
    .Titular{
        flex-direction: row;
        align-items: center;
        margin-block-end: 5rem;
    }
    .container{
         margin-inline: 1rem;
    }
    .collage__favorites{
        width: max-content;
        margin-inline: auto;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 767px) {
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__menu{
        position: relative;
        padding: 0;
        top: 0;
        width: 50%;
        background-color: transparent;
    }

    .list__nav{
        flex-direction: row;
    }
    
    .home__title{
        font-size: 2.5rem;
        max-width: 700px;
    }   

    .section__title{
        margin-bottom: 4rem;
    }
    .buttonForm{
        max-width: 50rem;
    }

    .kitty__image{
        width: 300px;
    }

    .footer{
        display: flex;
        margin-inline: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    .socialMedia{
        margin-block-start: 0;
    }
    .collage__favorites{
        grid-template-columns: repeat(auto-fit,250px);
    }
}

@media screen and (min-width: 1020px) {
    .container {
        margin-inline: auto;
    }

    .section__title{
        font-size: 2rem;
    }

    .kittys__container{
        padding-block: 5rem;
        grid-auto-flow: column;
        grid-template-columns: .7fr max-content;
        column-gap: 4rem;
        justify-content: center;
    }
    .kitty__title{
        margin-block-end: 2rem;
    }
    .kitty__image{
        width: 400px;
    }
    
}